.footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.heading-title {
    font-weight: 600;
  }

  .heading-subtitle {
    margin: 15px 0 0;
    color: #5886C4;
    font-size: 20px;
  }
  
.app-feature {
    margin-bottom: 15px;
    position: relative;
}