
.header {
  background: #0F1A47;
  padding: 70px 0px;
}

.title-search-bar-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 50px;
}

.search-results-container {
  padding: 50px 15px;
  margin-left: 50px;
}

.footer {
  padding: 30px 15px;
}


